% Compiler Options for rebar
{erl_opts, [
    {src_dirs, ["src", "test", lib]},
    debug_info
]}.

% Dependencies
{deps, [
    {etest, ".*", {git, "git://github.com/odo/etest.git"}},
    {meck, "", {git, "https://github.com/eproxus/meck.git", {branch, "develop"}}}
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.
